workflow:
  rules:
    # Prevent duplicate pipelines when pushing to a merge request
    - if: $CI_PIPELINE_SOURCE == 'push' && $CI_OPEN_MERGE_REQUESTS
      when: never
    # When a merge request is created, use the target branch as the reference branch
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      variables:
        NewCodeRefBranch: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
      when: always
    # When a push event is detected, use the default branch as the reference branch
    - if: $CI_PIPELINE_SOURCE == 'push'
      variables:
        NewCodeRefBranch: $CI_DEFAULT_BRANCH
      when: always

stages:
  - codecheck

sonarqube:
  stage: codecheck
  image: 輸入可以編譯你軟體的image，並且要包含git與7z等工具
  tags:
    - "輸入gitlab有提供的windows環境的tag"
  variables:
    GIT_DEPTH: 0
  before_script:
    - git config --global --add safe.directory '*'
    - if( $(git rev-parse --is-shallow-repository) -eq $true ) { git fetch --unshallow }
  script:
    - cd $CI_PROJECT_DIR\Build
    - cmd /c "SQAnalysis.bat"
  artifacts:
    name: "BuildLog_SonarQube"
    when: always
    untracked: true
