<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Google Test library (編譯測試程式用，其提供 GoogleTest 的 library) -->
  <package id="Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn" version="1.8.1.7" targetFramework="native" />
  <!-- Google Test Adapter (執行測試程式用，讓 vstest.console.exe 識別 Google Test) -->
  <package id="GoogleTestAdapter" version="0.18.0" />
  <!-- JUnit XML Logger (輸出 JUnit 格式測試結果) -->
  <package id="JunitXml.TestLogger" version="7.1.0" />
  <!-- Microsoft Test Platform (包含 vstest.console.exe 和 Code Coverage DataCollector) -->
  <package id="Microsoft.TestPlatform" version="17.14.1" />
  <!-- ReportGenerator (輸出 SonarQube 和 TeamCitySummary 格式測試覆蓋率) -->
  <package id="ReportGenerator" version="5.4.18" />
</packages>

